@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    /*Thai tea color*/
    --primary-color: #EFB289;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header nav {
    padding: 50px;
    z-index: 9999;
    overflow-y: auto;
}

header nav a{
    z-index: 9999;
    color: #E1D6C2;
    text-decoration: none;
    margin-left: 20px;
  }

header nav a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

.right-container{
  font-size: 12px;
  float:right;
}

a:link{
  color:#E1D6C2;
}

about {
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.small-text{
  color:#E1D6C2;
  font-size: 12px;
}

.large-text{
  font-family: '';
  font-size: 30px;
  font-weight: bolder;
  color: rgba(0, 0, 0, .65);

}

#medium-text{
  font-family: '';
  font-size: 20px;
  font-weight: bolder;
  color: rgba(0, 0, 0, .55);
  align-content: left;
  text-align: left;
  justify-content: left;
  transition: color 300ms ease-in-out;
}

img.circle-image{
  border-radius: 50%;
  display: inline;
  margin-bottom: 10px;
  /* border: 2px dashed rgba(0, 0, 0, .3); */
}
.border {
  height: 120px;
  width: 120px;
  border: 2px solid rgba(0, 0, 0, .25);
  border-radius: 50%;
  color: rgba(0, 0, 0, .1);
  border-style: dashed;
  border-width: 2%;
  position:absolute;
  display: inline;
  box-sizing: border-box;
  animation: spin 5s linear infinite;
}

#vertical-line{
  width:2px;
  height: 100px;
  background-color: rgba(0, 0, 0, .25);
  display: flex;
  text-align: center;
  margin-left: 50%;
}

.reverse-indent{
  margin-left: -10%;
}

.b1{
  background-image: 'images\b1.png';
  width: 100%;
  height: 100%;
}

.gallery {
  position: relative;
}

.large-img-text{
    color: rgba(255, 255, 255, .65);
    font-size:7vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 9999;
}

.small-img-text{
    color: rgba(255, 255, 255, .65);
    font-size:1vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 9999;
}

.medium-img-text{
    color: rgba(255, 255, 255, .65);
    font-size:1.75vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 12%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 9999;
}

.gallery-top {
  margin-top: 80px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.gallery-bottom{
  margin-top: -10px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.black-text{
  color: rgba(0, 0, 0, .65);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@media (max-width: 675px) {
  .large-text{
    font-size: 25px;
  }
  .medium-text{
    font-size: 15px;
    margin-left: 20%;
  }
  .reverse-indent{
    margin-left: 0%;
  }
  .smaller-header{
    margin-top: -10px;
    margin-left: 25vw;
    font-size: 14px;
  }
  .even-smaller-header{
    font-size: 10px;
    display: inline-block;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}